.cms-title {
  letter-spacing: 3px;
  padding: 0px 25px 25px;
  width: 30%;
  margin-block-start: 0;
  margin-top: -10px;
}

.cms-list {
  display: grid;
  width: 99%;
  padding-left: 10px;
}

.cms-news {
  display: flex;
  position: relative;
  align-items: center;
  color: white;
  background: black;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.cms-title:after {
  content: '';
  display: block;
  height: 5px;
  background: #000;
  transition: width 1s;
}

.cms-date {
  width: 140px;
  text-align: right;
  padding-right: 20px;
}

.cms-content {
  padding: 0 10px;
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .cms-title {
    font-size: 25px;
    width: 70%;
  }
  
  .cms-date {
    width: 150px;
  }
}

@media only screen and (max-width: 500px) {
  .cms-title {
    font-size: 25px;
  }
}